{% extends "instaPhotoCollector/base.html" %}

{% block content %}
  <div class="col-lg-12">
    <div class="panel panel-info">
      <!-- Default panel contents -->
      <div class="panel-heading">{{ artist_name }}</div>
      <div class="panel-body">
          {% if artist_events %}
          <div class="list-group">
              {% for event in artist_events %}
              <a href="{% url 'event_view' event.id %}" class="list-group-item">
                  {{ event.title }}
                  <span class="badge col-lg-2">{{ event.venue.name }}</span>
                  <span class="badge col-lg-2">{{ event.datetime }}</span>
              </a>
              {% endfor %}
          </div>
          {% endif %}
      </div>
    </div>
  </div>

{% endblock %}