{% extends "instaPhotoCollector/base.html" %}

{% block content %}

    {% if artist_objects %}

        <div class="container-fluid" xmlns="http://www.w3.org/1999/html">
            <div class="row">

            {% for artist in artist_objects %}
              <div class="col-sm-4 col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'artist_view' artist.name 1 %}">
                        <img src="{{ artist.thumb_url }}" alt="...">
                        <div class="carousel-caption">
                            <h1><span class="label label-primary">{{ artist.name }}</span></h1>
                        </div>
                    </a>
                </div>
              </div>
            {% endfor %}

            </div>
        </div>

    {% else %}

        <span class="label label-danger center-block">No artists found</span>

    {% endif %}

{% endblock %}