{% extends "instaPhotoCollector/base.html" %}

{% block content %}

    {% if image_objects %}
        <div class="container-fluid">
            <div class="row">
            {% for image in image_objects %}
                  <div class="col-sm-4 col-md-3">
                    <div class="thumbnail">
                      <img src="{{ image.image_url }}" alt="...">
                      <div class="caption">
                        {% if image.location %}
                        <p>lat : {{ image.location.point.latitude }}</p>
                        <p>lng : {{ image.location.point.longitude }}</p>
                        {% endif %}
                        {% if image.created_time %}
                        <p>{{ image.created_time }}</p>
                        {% endif %}
                        {% if image.tags %}
                        <p>tags :
                            {% for tag in image.tags %}
                                {{ tag.name }},
                            {% endfor %}
                        </p>
                        {% endif %}

                      </div>
                    </div>
                  </div>
                  {% comment %}
                  <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                      <img src="{{ link }}" alt="...">
                    </a>
                  </div>
                  {% endcomment %}
            {% endfor %}
            </div>
        </div>
    {% else %}
        <span class="label label-danger center-block">No images found</span>
    {% endif %}

{% endblock %}